.navbar {
  width: 100%;
  height: 90px;
  background: #f5f4f3;
  border-bottom: 1px solid #ddd;
}

.nav-inner {
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-left {
  display: flex;
  gap: 30px;
  font-size: 18px;
}

.nav-left li {
  list-style: none;
  cursor: pointer;
}


.nav-right {
  display: flex;
  gap: 25px;
}

.nav-right img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
