.home {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.top-banner {
  width: 100%;
  height: 300px;
  background-color: #c9c1bd;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-banner-box {
  background-color: #e5e3e1;
  padding: 40px 80px;
  text-align: center;
}

.top-banner-box h2 {
  font-family: "Neucha";
  font-size: 36px;
  margin-bottom: 12px;
}

.top-banner-box p {
  font-size: 15px;
  color: #555;
}

.product-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 400px 400px;
}


.product1, .product4 {
  background-color: #e6e6e6;
}

.product2, .product3 {
  background-color: #cfcfcf;
}

.bottom-banner {
  width: 100%;
  height: 120px;
  background-color: #9a9a9a;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom-banner p {
  color: white;
  font-size: 18px;
  letter-spacing: 1px;
}
